@import "../config/variety.scss";
@import "../config/mixin.scss";
body {
	background-color: #f8f8f8;
}
.container.center {
	margin-top: 80px;
	border-radius: 3px;
	overflow: hidden;
	position: relative;
	.infoBox {
		width: 100%;
    position: relative;
    border: 1px solid #eaebec;
		.cover {
			height: 150px;
			background-color: #c3c3c3;
		}
		.pvtInfo {
			height: 50px;
			background-color: #fff;
      padding-top: 5px;
			padding-left: 100px;
			.head {
				width: 80px;
				height: 80px;
				position: absolute;
				bottom: 10px;
				left: 20px;
				border-radius: 40px;
				overflow: hidden;
				img {
					width: 100%;
				}
			}
			.sign {
				height: 30px;
				padding-right: 30px;
				margin: 5px 0 0 20px;
				input {
					width: 100%;
					height: 100%;
					border: 1px solid #fff;
					font-size: 1.4rem;
					border-radius: 5px;
					text-indent: 10px;
					&:hover {
						background-color: #eee;

					}
					&:focus {
						background-color: #eee;
					}
				}
			}
		}
	}
  .spaceBox {
    width: 100%;
    margin-top: 20px;
    background-color: #fff;
    .nav {
      @include clearfix;
      padding: 10px;
      position: relative;
      li {
        float: left;
        padding: 0 20px;
      }
      .slider {
        width: 65px;
        height: 3px;
        background-color: $sky-blue;
        position: absolute;
        bottom: 0;
      }
    }
    .articleBox {
      background-color: #fff;
      .worksNav {
        @include clearfix;
        margin-top: 10px;
        .workTag {
          float: left;
          padding: 5px 15px;
          border-radius: 15px;
          border: 1px solid #ccc;
          margin-left: 20px;
          cursor: pointer;
          &:hover {
            border: 1px solid $sky-blue;
            box-shadow: 0 0 10px -8px $sky-blue inset;
          }
          &:first-of-type {
            display: none;
          }
        }
      }

    }
  }
}
