.wrap{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #f3f4ef;
}
.movediv{
	width: 100%;
	height: 350px;
	position: relative;
	min-width: 850px;
	overflow: hidden;
}
.bg{
	width: 100%;
	height: 400px;
	position: absolute;
}
.bg img, .xing img, .ship1 img, .ship2 img{
	width: 100%;
	height: 100%;
}
.xing{
	width: 500px;
	height: 350px;
	position: absolute;
	z-index: 111;
	left: 50%;
}
.ship1, .ship2{
	width: 100px;
	height: 100px;
	position: absolute;
	z-index: 100;
}

.errorPic{
	width: 300px;
	height: 300px;
	position: absolute;
	top: 0;
	left: 0;
}
.goBackIndex{
	text-align: center;
}
.errorPic img{
	width: 100%;
}
.backInfo{
	color: #999;
	font-size: 2.4rem;
	margin: 50px;
}
.backButton{
	width: 150px;
	height: 55px;
	display: inline-block;
	line-height: 55px;
	border: 1px solid #aaa;
	border-radius: 5px;
	font-size: 2rem;
	box-shadow: 0px 0px 10px rgba(200, 200, 200, .8);
	background-color: #eee;
}
.backButton:hover{
	border-color: #888;
}
