body{
	color: #333;
}

/* 文章地区 */
.articles{
	padding-bottom: 50px;
}
.articleBar{
	width: 100%;
	padding: 20px 0px;
	border-bottom: 1px solid #e5e6e7;
}

.articleInfo{
	height: 50px;
	padding: 5px 0px;
	line-height: 40px;
	font-size: 1.5rem;
}
.headBox{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	overflow: hidden;
	display: inline-block;
	margin-right: 10px;
	border: 1px solid #e4e5e6;
}
.headBox img{
	width: 100%;
	height: 100%;
}

.nameBox{
	display: inline-block;
	vertical-align: top;
}
.time{
	color: #969696;
	font-size: 1.3rem;
	margin-left: 10px;
}
.articleBody{
	margin-top: 10px;
	position: relative;
}
.haveImg{
	padding-right: 180px;
}
.articleTitle{
	font-size: 2.4rem;
	margin-top: 0px;
}
.articleTitle a{
	white-space: pre-wrap;
}

.articleContent p{
	white-space: pre-wrap;
	line-height: 1.7;
	font-size: 1.6rem;
}
.articleImg{
	position: absolute;
	width: 150px;
	height: 120px;
	right: 0;
	top: 50%;
	margin-top: -60px;
	border: 1px solid #e4e5e6;
	overflow: hidden;
}
.articleImg a{
	width: 100%;
	height: 100%;
}
.articleImg img{
	width: 100%;
	height: 100%;
	transition: transform .5s;
}
.articleImg img:hover{
	transform: scale(1.1, 1.1)
}

/* ============== banner ================*/
.banner{
	margin-top: 70px;
	height: 350px;
	position: relative;
}
.bannerUl, .bannerLi, .bannerA, .bannerA img{
	width: 100%;
	height: 100%;
}
.bannerLi{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 1s;
}
.currentBanner{
	opacity: 1;
	z-index: 111;
}
.banner:hover .changebanner{
	opacity: 1;
	transition: opacity .5s;
}
.changebanner{
	width: 50px;
	height: 70px;
	background-color: rgba(100, 100, 100, .7);
	position: absolute;
	top: 50%;
	margin-top: -30px;
	font-family: 'icon';
	color: #fff;
	text-align: center;
	font-size: 1.6rem;
	cursor: pointer;
	z-index: 112;
	opacity: 0;
}

.changeLeft{
	left: 0;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
.changeLeft:before{
	content: '\e6c2';
	line-height: 70px;
}
.changeRight{
	right: 0;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.changeRight:before{
	content: '\e649';
	line-height: 70px;
}

/* =================== addMore ====================*/
.addMoreBox{
	width: 100%;
	height: 50px;
	margin-top: 50px;
	text-align: center;
}
#addMore{
	display: inline-block;
	width: 50%;
	line-height: 50px;
	background-color: #585858;
	border-radius: 5px;
	font-size: 1.4rem;
	color: #fff;
}
#addMore:hover{
	background-color: #686868;
}
