body {
  background-color: #e5e6e7;
}
.wrap {
  width: 400px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;

  font-size: 1.4rem;
  .head {
    height: 180px;
    // border-bottom-left-radius: 3px;
    background: #1a5694;
    background: -webkit-gradient(linear, left bottom, right top, from(#518ba3), to(#1a9487));
    // box-shadow: 0 8px 6px -6px #828282;
    color: #fff;
    padding-top: 20px;
    text-align: center;
    .logo {
      height: 100px;
      background: url('/pic/logo/orang.png') center;
      background-size: contain;
      background-repeat: no-repeat;
      margin: 0 0 10px;
      padding-top: 20px;
    }
    .name {
      font-size: 2.4rem;
      font-style: italic;
    }
  }
  .body {
    padding: 20px 30px 30px;
  }
  .title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    position: relative;
    color: #ddd;
    cursor: pointer;
    .current {
      color: #555f5a;
    }
  }

  .username, .password, .surePassword {
    width: 100%;
    height: 40px;
    padding-left: 5px;
    padding-right: 20px;
    position: relative;

    input {
      width: 100%;
      height: 100%;
    }
    input::-webkit-input-placeholder {
      color: #aaa;
    }
    span.status {
      display: none;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 10px;
      right: 0px;
      text-align: center;
      cursor: pointer;

      &::before {
        font-family: icon;
        content: '\e617';
        font-size: 1rem;
      }
      &.wrong::before {
        content: '\e60a';
        color: #bf5270;
        font-size: 1.6rem;
      }
    }
    span.errorInfo {
      display: none;
      position: absolute;
      right: 0;
      bottom: 30px;
      color: #ff5f5f;
      font-size: 1.2rem;
      text-align: center;
      background-color: #f4f5f6;
      padding: 3px;
      border-radius: 3px;
      border: 1px solid #ccc;
    }
    .border-bottom {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #ddd;
    }
    &.bottomColor {
      .border-bottom {
        background-color: #3198d4;
        box-shadow: 0 2px 5px rgba(49,152,212,.5);
      }
    }
    &.bgRed {
      .border-bottom {
        background-color: #bf5270;
        box-shadow: 0 2px 5px rgba(195,19,101,.5);
      }
    }
  }
  .password, .surePassword {
    margin-top: 20px;
  }

  .tip {
    color: #888;
    font-size: 1.2rem;
    text-align: right;
    margin-top: 20px;
    a {
      display: inline;
      color: #3498e0;
    }
  }

  .loginButton {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    background: #1a5694;
    background: -webkit-gradient(linear, left bottom, right top, from(#518ba3), to(#1a9487));
    line-height: 35px;
    margin-top: 20px;
    &:hover {
      background: #518ba3;
    }
    button {
      background: none;
      width: 100%;
      height: 100%;
      color: #fff;
      border: 0;
      cursor: pointer;
    }
  }
  input {
    border: 0;
  }
}
