@charset "UTF-8";
body {
  color: #333; }

/* 文章地区 */
.articles {
  padding-bottom: 50px; }

.articleBar {
  width: 100%;
  padding: 20px 0px;
  border-bottom: 1px solid #e5e6e7; }

.articleInfo {
  height: 34px;
  padding: 5px 0px;
  line-height: 30px;
  font-size: 1.5rem; }
  .articleInfo .headBox {
    width: 34px;
    height: 34px;
    border-radius: 20px;
    overflow: hidden;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #e4e5e6; }
    .articleInfo .headBox img {
      width: 100%;
      height: 100%; }
  .articleInfo .nameBox {
    display: inline-block;
    vertical-align: top; }
    .articleInfo .nameBox .time {
      color: #969696;
      font-size: 1.3rem;
      margin-left: 10px; }

.articleBody {
  margin-top: 10px;
  position: relative; }
  .articleBody.haveImg {
    padding-right: 180px; }
  .articleBody .articleTitle {
    font-size: 2rem;
    margin-top: 0px; }
    .articleBody .articleTitle a {
      white-space: pre-wrap; }
  .articleBody .articleContent p {
    white-space: pre-wrap;
    line-height: 1.7;
    font-size: 1.5rem;
    margin: 10px 0; }
  .articleBody .articleImg {
    position: absolute;
    width: 150px;
    height: 120px;
    right: 0;
    top: 50%;
    margin-top: -60px;
    border: 1px solid #e4e5e6;
    overflow: hidden; }
    .articleBody .articleImg a {
      width: 100%;
      height: 100%; }
    .articleBody .articleImg img {
      width: 100%;
      height: 100%;
      transition: -webkit-transform .5s;
      transition: transform .5s;
      transition: transform .5s, -webkit-transform .5s; }
      .articleBody .articleImg img:hover {
        -webkit-transform: scale(1.1, 1.1);
                transform: scale(1.1, 1.1); }

.metaBox a {
  display: inline;
  margin: 0 5px;
  color: #aaa; }
  .metaBox a::before {
    margin-right: 4px;
    font-size: 1.3rem;
    font-family: icon; }
  .metaBox a:hover {
    color: #666; }

.metaBox .readed::before {
  content: '\e65e';
  font-size: 1.4rem; }

.metaBox .liked::before {
  content: '\e7a4'; }

.metaBox .confirmed::before {
  content: '\e612'; }

/* ============== banner ================*/
.banner {
  margin-top: 70px;
  height: 350px;
  position: relative; }

.bannerUl, .bannerLi, .bannerA, .bannerA img {
  width: 100%;
  height: 100%; }

.bannerLi {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s; }

.currentBanner {
  opacity: 1;
  z-index: 111; }

.banner:hover .changebanner {
  opacity: 1;
  transition: opacity .5s; }

.changebanner {
  width: 50px;
  height: 70px;
  background-color: rgba(100, 100, 100, 0.7);
  position: absolute;
  top: 50%;
  margin-top: -30px;
  font-family: 'icon';
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  cursor: pointer;
  z-index: 112;
  opacity: 0; }

.changeLeft {
  left: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px; }

.changeLeft:before {
  content: '\e636';
  font-size: 2.4rem;
  line-height: 70px; }

.changeRight {
  right: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px; }

.changeRight:before {
  content: '\e637';
  font-size: 2.4rem;
  line-height: 70px; }

/* =================== addMore ====================*/
.addMoreBox {
  width: 100%;
  height: 50px;
  margin-top: 50px;
  text-align: center; }

#addMore {
  display: inline-block;
  width: 50%;
  line-height: 50px;
  background-color: #585858;
  border-radius: 5px;
  font-size: 1.4rem;
  color: #fff; }

#addMore:hover {
  background-color: #686868; }
