$sky-blue: #3498e0;
$pre-blue: #3198d4;
$light-blue: #49b2e4;
$cyan-blue: #dff5f7;

$light-green: #1a9487;
$grass-green: #02900d;

$dark-cyan: #518ba3;
$pre-cyan: #48cab3;
$pure-cyan: #48bac3;
$light-cyan: #50f9db;

$pre-orange: #ef7559;
$pre-red: #d43c1a;
$pure-red: #e8173d;
$pre-grey: #7d8488;
