*{
	box-sizing: border-box;
}
div, input, a, textarea{
	outline: none;
}

html, body{
	height: 100%;
	font: 10px '微软雅黑';
}
body:before{
	display: table;
	content: ''
}
#app{
	height: 100%;
	width: 100%;
}

a{
	display: block;
	text-decoration: none;
	color: inherit;
}
ul, li{
	list-style: none;
	margin: 0;
	padding: 0;
}
button{
	border-width: 1px;
	border-style: solid;
	outline: none;
}

.hide{
	display: none;
}
.show{
	display: block;
}

blockquote{
	border-left: 8px solid #d1e4f6;
	margin: 0 0 20px;
	padding: 20px 20px 20px 30px;
	background-color: #f3f4f5;
}

hr{
	margin: 1em 0;
	color: #dedede;
}
.fr{
	float: right;
}
.fl{
	float: left;
}
.clearfix:before{
	display: table;
	content: "";
}
.clearfix:after{
	display: table;
	clear: both;
	content: " ";
}
input, textarea{
	font-family: '微软雅黑';
}
img{
	border: 0;
}

/* ===========================header============================ */
/* ===========================z-index最高 200============================ */
.header{
	width: 100%;
	height: 70px;
	background-color: #fff;
	border-bottom: 1px solid #e7e7e7;
	position: fixed;
	z-index: 200;
	transition: transform .5s ease-out, opacity .5s ease-out;
}

.container{
	margin: 0 auto;
	width: 850px;
}
.container:before{
	content: '';
	display: table;
}
.logo{
	height: 70px;
	padding: 5px 0px;
	margin-left: 30px;
}
.logo a{
	height: 100%;
}
#logoImg{
	height: 100%;
}
#write, #set{
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	margin: 15px 15px 0px 20px;
	text-align: center;
	position: relative;
	z-index: 101;
}
#write{
	width: 100px;
	background-color: #3498e0;
	color: #fff;
	font-size: 1.6rem;
}
#write:hover{
	background-color: #48a8ec;
}
#set{
	margin-top: 12px;
	width: 40px;
	font-size: 2rem;
	color: #888;
}
#set:hover{
	color: #555;
}

.writeIcon:before{
	font-family: 'icon';
	content: '\e600 ';
}
.setIcon:before{
	font-family: 'icon';
	content: '\e737';
}

.navbar{
	margin: 0px;
	position: relative;
	height: 100%;
}
.navbar li{
	padding: 0px 10px;
	height: 100%;
}
.searchBox{
	width: 250px;
	height: 40px;
	line-height: 40px;
	background-color: #eee;
	border-radius: 20px;
	position: relative;
	padding: 0px 35px 0px 20px;
	top: 15px;
	transition: width .3s, border-color .3s;
}

.searchInput{
	height: 100%;
	position: absolute;
	border: none;
	font-size: 1.4rem;
	background-color: transparent; 
}

.searchIcon{
	position: absolute;
	right: 5px;
	font-size: 1.6rem;
	display: inline-block;
	width: 30px;
	text-align: center;
	color: #888;
	cursor: pointer;
}
.searchIcon:before{
	font-family: 'icon';
	content: '\e601';
}
/* moveToT */
.moveToT{
	width: 60px;
	height: 60px;
	border-radius: 5px;
	border: 1px solid #dedede;
	position: fixed;
	z-index: 110;
	right: 50px;
	bottom: 50px;
	text-align: center;
	display: inline-block;
	line-height: 60px;
	cursor: pointer;
}
.moveToT:hover{
	color: #000;
}
.moveToTIcon:before{
	font-family: 'icon';
	content: '\e698';
	font-size: 2rem;
	display: inline;

}

/*================== 分页器 ===================*/
.pagination{
	margin-top: 50px;
	text-align: center;
}
.frontPage, .nextPage, .pageItem{
	display: inline-block;
}

.frontPage a, .nextPage a, .pageItem a{
	display: inline-block;
	border: 1px solid #ddd;
	padding: 6px 13px;
	margin: 0 6px;
	line-height: 1.5;
	border-radius: 3px;
	cursor: pointer;
	font-size: 1.5rem;
	color: #999;
}
.frontPage a:hover,
.nextPage a:hover,
.pageItem a:hover:not(.currentPage){
	color: #333;
}
.pageItem a{
	display: inline-block;
	color: #999;
}
.currentPage a{
	border: none;
	color: #3498e0;
	font-weight: 700;
}
/*=============== 分页器 ===============*/

/*============== setModel z-index: 111 ==============*/
.setModel{
	border-radius: 3px;
	box-shadow: 0px 0px 10px rgba(80, 80, 80, .3);
	right: -35px;
	top: 58px;
	background-color: #fff;
	min-width: 250px;
	position: absolute;
	z-index: 111;
	padding-bottom: 20px;
	color: #999;
	display: block;

	transform-origin: 80% 0;
}
.show{
	animation: scale-out cubic-bezier(.22,.58,.12,.98) .5s;
}
.night{
	height: 80px;
	line-height: 80px;
	font-size: 1.5rem;
	border-bottom: 1px solid #e4e5e6;
}
.night>span{
	margin-right: 30px;
	vertical-align: top;
}
.night>span:before{
	content: '\e61a';
	font-family: 'icon';
	font-size: 2rem;
}
.moonIcon:before{
	color: #c5c514;
}
.btn-group{
	display: inline-block;
	cursor: pointer;
	font-size: 1.5rem;
	height: 40px;
	vertical-align: middle;
	line-height: 40px;
}
.btn-group span{
	border: 1px solid #e4e5e6;
	display: inline-block;
}
.btn-group .nightOn, 
.btn-group .nightOff{
	padding-left: 15px;
	padding-right: 15px;
	height: 100%;
}
.btn-group span:first-child{
	border-right: none;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.btn-group span:last-child{
	border-left: none;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.btn-group .open{
	background-color: #6dacf4;
	border-color: #6dacf4;
	color: #fff;
}
.fFamily, .fStyle{
	width: 100%;
	margin-top: 13px;
}
.fFamily span, .fStyle span{
	padding-left: 35px;
	padding-right: 35px;
}


/* ================= song and hei ===================*/
.fsong{
	font-family: Songti SC,serif;
}
.fhei{
	font-family: '微软雅黑';
}
/*================= 背景canvas ===================== */
#bg-canvas{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: none;
	vertical-align: baseline;
	z-index: -1;
}
/*====================== foot ========================*/
.foot{
	width: 100%;
	margin-top: 30px;
	text-align: center;
	font-size: 1.4rem;
	color: #666;
	margin-bottom: 20px;
}
.foot a{
	display: inline-block;
}
.foot a:hover{
	color: #333;
}


/*=====================foot end =======================*/

/* =================== 夜间模式 =====================*/
.nightModel {
	color: #fff;
}

.nightModel .header{
	background-color: transparent;
	border-bottom: 0;
}
.nightModel #bg-canvas{
	display: inline-block;
}
.nightModel .searchBox{
	background-color: rgba(21,24,68,.5);
	border: 1px solid rgba(34,43,95,.79)
}
.nightModel .searchBox:hover{
	border: 1px solid #6974b3;
}
.nightModel .searchBox input{
	color: #fff;
}
.nightModel .articleBar{
	margin-top: 20px;
	background-color: rgb(42, 42, 42);
	padding: 20px 20px;
	border-bottom: 0;
}



/*================== 夜间模式 end ===================*/

@font-face {
	font-family: 'icon';
	src: url('../../font/icon/iconfont.eot');
	src: url('../../font/icon/iconfont.eot') format('embedded-opentype'),
	url('../../font/icon/iconfont.ttf') format('truetype'),
	url('../../font/icon/iconfont.woff') format('woff'),
	url('../../font/icon/iconfont.svg') format('svg');
}

@media (max-width: 1125px){
	.container{
		width: 750px;
	}
}


@keyframes scale-out{
	0%{ transform: scale(0.8, 0.8);}
	70%{ transform: scale(1.1, 1.1);}
	100%{ transform: scale(1, 1); }
}
