extends ../layout
block head
	link(href="css/page/write.css" rel="stylesheet")
		
block content
	div#app

block foot
	script(src="react/manifest.js" defer)
	script(src="react/vendor.js" defer)
	script(src="react/bundle.js" defer)
